<template>
  <div v-if="!isvalid && checked && Object.keys(errors).length > 0">
    <h4 class="d-flex justify-content-center align-items-center mb-3">{{ title }}</h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed" v-for="error in errors" v-bind:key="error.message">
        <div>
          <span class="title">{{ error.message }} </span> <span class="badge badge-secondary badge-pill">  {{ error.count }} </span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "error-list",
  props: {
    title: {
      type: String,
      default: "Error's list"
    },
    isvalid: Boolean,
    checked: Boolean,
    errors: Object
  }
};
</script>
