<template>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron -margin-top">
        <div class="container">
          <h1 class="display-3">Article Validator</h1>
          <p>This is a frontend that use a API especially did to validate XML articles using SciELO packtools.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="https://gitlab.com/joffily/scielo" role="button">See the code</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <b-form-file v-model="file" :state="Boolean(file)" placeholder="Choose a file"></b-form-file>
          <p v-show="is_loading">Validating file, please wait...</p>
        </div>

        <div class="col-xs-12 col-md-4">
          <button class="btn btn-block btn-primary -margin-top-xs" v-on:click="submitFile()" :disabled="!Boolean(file) || is_loading">Validate</button>
        </div>
      </div>

      <div class="row">
        <div class="col -margin-top">
          <b-alert v-if="is_valid && file_checked" variant="success" show>Congratulations, this article is valid!</b-alert>
          <b-alert v-if="!is_valid && file_checked" variant="warning" show>That submitted file is
            <strong>invalid</strong>, please see warnings below.</b-alert>
          <b-alert v-if="connection_error" variant="danger" show>Something was wrong, please verify your internet connection.</b-alert>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <errors-list title="Style Errors" :errors="style_errors" :isvalid="is_valid" :checked="file_checked"></errors-list>
        </div>
        <div class="col-sm-12 col-md-6">
          <errors-list title="Structure Errors" :errors="dtd_errors" :isvalid="is_valid" :checked="file_checked"></errors-list>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Api from "../services/Api";
import ErrorsList from "./ErrorsList.vue";
import Utils from "./utils.js";

export default {
  components: {
    ErrorsList
  },
  mixins: [Utils],
  data() {
    return {
      file: null,
      is_loading: false,
      is_valid: false,
      dtd_errors: {},
      style_errors: {},
      file_checked: false,
      connection_error: false
    };
  },
  methods: {
    submitFile() {
      this.is_loading = true;
      this.connection_error = false;

      Api.styleChecker(
        this.file,
        response => {
          let style_errors = this.countStyleErrors(response.data.style_errors);
          let dtd_errors = this.countDtdErrors(response.data.dtd_errors);

          this.is_loading = false;
          this.is_valid = response.data.is_valid;
          this.style_errors = style_errors;
          this.dtd_errors = dtd_errors;
          this.file_checked = true;
        },
        () => {
          this.is_loading = false;
          this.is_valid = false;
          this.style_errors = {};
          this.dtd_errors = {};
          this.file_checked = false;
          this.connection_error = true;
        }
      );
    }
  }
};
</script>
<style>
.-margin-top {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .-margin-top-xs {
    margin-top: 30px;
  }
}
</style>
