<template>
  <div id="app">
    <Validator />
  </div>
</template>

<script>
import Validator from './components/Validator.vue'

export default {
  name: 'app',
  components: {
    Validator
  }
}
</script>

<style>
body {
  background-color: #f8f9fa;
}
</style>
